.camera-container {
  width: 100vw;
  height: 100vh;

  position: absolute;
  display: none;
  place-content: center;

  backdrop-filter: brightness(20%);
}

video {
  box-shadow: 0 0 60px 6px #fff;
}
