:root {
  --bg-image-light: url("./assets/wallpapers/room-day.jpg");
  --bg-image-dark: url("./assets/wallpapers/room-night.jpg");
  --bg-image: var(--bg-image-light);

  --normal-font: "Roboto";
  --mono-font: "Roboto Mono";
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: var(--bg-image-dark);
  }
}

* {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  margin: 0;
}
