/* Timer Styles */
#timer {
  position: absolute;
  top: 2rem;
  left: 2rem;

  width: fit-content;
  height: fit-content;

  font-family: var(--normal-font);
  font-size: 2rem;
}

#timer p {
  margin: 0;
  padding: 0.5em;
}

.timer-modal-container {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  z-index: 99;

  backdrop-filter: blur(3px) brightness(40%);
}
.timer-modal {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;

  font-family: var(--mono-font);

  width: 20%;
  padding: 2.5em 1em;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container .display-container {
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
  align-items: center;

  text-align: center;

  color: var(--fg);

  border-bottom: 1px solid;
}

.display-container div {
  display: flex;
  align-items: flex-end;
}
.display-container p {
  padding: 0;
  margin: 0;

  font-size: 3.5rem;
}
.display-container span {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 0.4rem;

  color: rgb(190, 190, 190);
}

.timer-modal input {
  border: 0;

  position: absolute;
  background-color: transparent;
  color: transparent;
}
.timer-modal input:focus {
  outline: none;
}

.timer-modal button {
  padding: 0.5em 2em;
  background-color: rgb(71, 71, 71);

  border-radius: 3px;
  border: 0px;

  font-size: 1em;
  font-family: inherit;
  color: var(--fg);
  font-weight: 500;

  cursor: pointer;
  transition: 0.3s;
}

.timer-modal button:hover {
  transform: scale(1.1);
}

.inactive {
  color: gray;
}
